nav {
    height: 80px;
    background-color: #FFFFFF80;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(4px);
    width: 100%;
}

.nav-categories {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        font-weight: 400;
        line-height: 20px;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        color: #000;
        letter-spacing: 5%;
        text-align: center;
        margin: 0 2rem;
        cursor: pointer;
        &:hover {
            color: #2CAFE5;
        }
    }
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
    a {
        font-weight: 400;
        line-height: 28px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: #000;
        letter-spacing: 1%;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: #2CAFE5;
        }
    }
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        line-height: 28px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        background-color: transparent;
        color: #000;
        letter-spacing: 1%;
        border: none;
        cursor: pointer;
        &:hover {
            color: #2CAFE5;
        }
    }
}